name: medallia_dxa
description: Medallia DXA flutter SDK
version: 2.4.3
homepage: 'https://developer.medallia.com/medallia-dxa/docs/getting-started-3'

environment:
  sdk: ">=2.19.0"
  flutter: ">=3.7.0"

dependencies:
  collection: ^1.0.0
  flutter:
    sdk: flutter
  flutter_svg: ^2.0.0
  mockito: ^5.0.0
  
dev_dependencies:
  analysis_server_lib: ^0.2.5
  analyzer: ^5.2.0
  analyzer_plugin: ^0.11.2
  build_runner: ^2.3.3
  flutter_test:
    sdk: flutter
  lint: ^1.8.2
  #pigeon: ^17.1.3
  pigeon: any

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' and Android 'package' identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.medallia.medallia_dxa
        pluginClass: MedalliaDxaPlugin
      ios:
        pluginClass: MedalliaDxaPlugin

  # To add assets to your plugin package, add an assets section, like this:
  assets:
    - pubspec.yaml
    - assets/placeholder_image.svg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
